<div class="hero-image">
  <div class="hero-text">
    <h1>{{title}}</h1>
    <p>Perfect your craft.</p>
  </div>
</div>
<!-- <img src ="/images/apple-juice-apples-beverage-1243489.jpg" alt="apples"> -->
